@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    background-image: linear-gradient(to right bottom, #020202, #070707, #1c1a1b, #151414, #201b1b);
    scroll-behavior:smooth;
}

*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    width:5px;
}

::-webkit-scrollbar-track{
    background: black;
}

::-webkit-scrollbar-thumb{
    background: white;
}
